*{
	margin: 0;
	padding: 0;
	box-sizing: border-box;
	outline: silver;

}

body{
   
    background: linear-gradient(90deg, #e3ffe7 0%, #d9e7ff 100%);;
	font-family: 'Hubballi', cursive;
	min-height: 100vh;
	height: 1087px;
}

#grid{
   display: grid;
   
   align-content: stretch;
   justify-content: center;
   justify-items: center;
   
   height: 750px;
   width:  750px;
   background-color:white;
}

.flex{
	height: 100%;
	width: 100%;
	gap: 25px;
	display: flex;
	flex-direction: column;
	flex-wrap: nowrap;
	align-items: center;
	justify-content: center;
}

p{
	width: 240px;
}

.center{
	display: flex;
	flex-direction: column;
	justify-content: center;
	align-items: center;
}

h1{
	position: fixed;
	top: 10px;
}





