*{
	margin: 0;
	padding: 0;
	box-sizing: border-box;
	outline: silver;

}

body{
   
    background: linear-gradient(90deg, #e3ffe7 0%, #d9e7ff 100%);;
	font-family: 'Hubballi', cursive;
	min-height: 100vh;
	height: 1087px;
}

#grid{
   display: grid;
   
   justify-content: end;
   align-content: stretch;
   
   height: 750px;
   width:  750px;
   background-color:white;
   box-shadow: 40px 40px 80px rgba(0, 0, 0, 0.1);

}

.flex{
	height: 100%;
	width: 100%;
	gap: 25px;
	display: flex;
	flex-direction: column;
	flex-wrap: nowrap;
	align-items: center;
	justify-content: center;
}

p{
	width: 240px;
}

.center{
	display: flex;
	flex-direction: column;
	justify-content: center;
	align-items: center;
}

h1{
	position: fixed;
	top: 10px;
}

div{
	background-color: white;
	border: 1px solid black;

}

button{
	 width: 143px;
	 height: 19.5px;
}


#lime:hover{
	background-color: lime;
}

#aqua:hover{
	background-color: aqua;
}



