*{
	margin: 0;
	padding: 0;
	box-sizing: border-box;
	outline: silver;

}

body{
   
    background-color:#f8f8ff;
	font-family: 'Hubballi', cursive;
	min-height: 100vh;
	max-width: 100%;
}

#grid{
   display: grid;
   
   align-content: stretch;
   justify-content: center;
   justify-items: center;
   
   height: 500px;
   width: 400px;
   background-color:white;
}

.flex{
	height: 100%;
	width: 100%;
	gap: 25px;
	display: flex;
	flex-direction: column;
	flex-wrap: nowrap;
	align-items: center;
	justify-content: center;
}

p{
	width: 240px;
}

.center{
	display: flex;
	flex-direction: column;
	justify-content: center;
	align-items: center;
}

